/** @import url('https://fonts.googleapis.com/css?family=Inconsolata'); */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 200;
  src: url("../font/Sansation_Light.woff") format("woff");
}

@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Sansation_Regular.woff") format("woff");
}

@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 600;
  src: url("../font/Sansation_Bold.woff") format("woff");
}


.header {
  background: #161616;
  width: 100%;
}

div,
p,
ul {
  box-sizing: border-box;
  margin: 0;
}

.page-wrap {
  background: #222222;
  margin-bottom: 4.2em;
}

.container {
  width: 1000px;
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}

.header a {
  text-decoration: none;
}
a {
  color: #f5e3cb;
  -webkit-transition: 200ms ease-in-out;
}

a:hover {
  color: #fffdc1;
  text-shadow: 0px 0px 2px #fffdc1;
}

body {
  background: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 14px;
  color: #dddddd;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f0f0f0;
  font-family: Sansation, 'Source Sans Pro', sans-serif;
  font-weight: inherit;
  margin: 0.8em 0 0.4em;
}

h1 {
  font-weight: 200;
}

h2 {
  border-bottom: 1px solid #333333;
}

h3 {
  color: #999999;
}

h4 {
  margin-bottom: 0.1em;
  font-weight: 600;
}

h5 {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.address {
  margin-bottom: 0.88889em;
  /** 0.4 * 10/9 * 2 */
}

.address,
.education-place-year,
.education-place-location,
.position-dates,
.followup,
.sub-head {
  font-size: 0.9em;
  line-height: 1.66667em;
  /** 1.5 * 10/9 */
  color: #999999;
}

.followup {
  display: inline;
}

ul,
.position-dates,
.sub-head {
  padding-left: 20px;
}

.education-place-name,
.education-place-year,
.education-place-location {
  display: inline-block;
}

.end-date,
.start-date {
  display: inline-block;
}

.education-place-year:before,
.education-place-location:before,
.end-date:before,
.followup:before {
  content: ' - ';
  padding: 0 6px;
}

.position {
  padding: 0 0 0px 20px;
}

.show-sm {
  display: inline;
}
.show-md {
  display: none;
}

@media print,
(min-width: 480px) {
  .address {
    margin-top: 1.77778em;
    /** 0.8 * 10/9 * 2 */
  }
  .main-section-head {
    padding-right: 2.8em;
    float: left;
    width: 67%;
  }
  .side-section-head {
    float: right;
    width: 33%;
  }
}

@media print,
(min-width: 900px) {
  .main-section {
    padding-right: 2.8em;
    float: left;
    width: 67%;
  }
  .side-section {
    float: right;
    width: 33%;
  }
  .show-sm {
    display: none;
  }
  .show-md {
    display: inline;
  }
}

@media print {
  @page {
    margin: 0.38in;
  }
  body {
    font-size: 12px;
    line-height: 1.25;
  }
  body.print-light {
    background: none;
    color: #333333;
    font-smooth: never;
    -moz-osx-font-smoothing: unset;
    -webkit-font-smoothing: none;
  }
  .header {
    padding: 0.38in 0.38in 0;
  }
  .print-light .header {
    background: none;
    padding: 0;
  }
  .print-light h1,
  .print-light h2,
  .print-light h3,
  .print-light h4,
  .print-light h5 {
    color: #0f0f0f;
  }
  h1,
  .address {
    margin-top: 0;
  }
  .print-light h2 {
    border-bottom: 1px solid #dddddd;
  }
  h3,
  .address,
  .education-place-year,
  .education-place-location,
  .position-dates,
  .followup,
  .sub-head {
    line-height: 1.38889em;
    /** 1.25 * 10/9 */
  }
  .print-light h3,
  .print-light .address,
  .print-light .education-place-year,
  .print-light .education-place-location,
  .print-light .position-dates,
  .print-light .followup,
  .print-light .sub-head {
    color: #666666;
  }
  .container {
    padding: 0;
  }
  .page-wrap {
    background: none;
    margin-bottom: 0;
    margin: 0 0.38in 0.38in;
  }
  .print-light .page-wrap {
    margin: 0;
    background: none;
  }
}
